* {
	margin: 0;
	padding: 0;
}
h1#FSTitle {
	color: #686868;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	position: fixed;
	top: 3%;
	left: 25%;
}
p#MottoTitle {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	position: fixed;
	top: 4.2%;
	right: 25%;
}